.header {
  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 1rem;
    min-height: 7.5rem;
    width: 100%;
    z-index: 9999;
    background-color: $color-white;
  }

  &__brandMessage {
    padding-top: 7.5rem;
    text-align: center;
    background: $linear-gradient-2;
    color: $color-white;


    h2 {
      padding: 1rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: $font-family-secondary;
      margin: 0;
    }
  }

  &__searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-inline: 1rem;
    font-weight: 400;
    font-family: $font-family-secondary;
    color: $color-black;
    font-size: 1.2rem;
    width: 15%;
    position: relative;
    cursor: pointer;
    svg {
      background: $linear-gradient-2;
      border-radius: 50%;
      color: $color-white;
      padding: 0.8rem;
      font-size: 1.6rem;
      transition: transform 0.3s ease;
      &:hover {
        animation: pulse 1s infinite;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
