.industry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  margin-top: 18rem;

  &__title {
    font-size: 2rem;
    color: $color-black;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $color-primary;
  }

  &__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.industry__card {
  position: relative;
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    .card__background img {
      transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }
  }

  .card__background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(65%);
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }
  }

  .card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    color: #fff;
    z-index: 1;
    width: 100%;

    h3 {
      text-align: center;
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      display: none;
      transition: all 0.5s;
    }
  }
}

.industry__card:nth-child(1):hover p {
  display: block;
  padding-top: 1rem;
}
.industry__card:nth-child(1):hover img {
  filter: brightness(60%);
}

.industry__card:nth-child(2) .card__content {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 1.5rem;
  color: #fff;
  z-index: 1;
  width: 80%;
}
.industry__card:nth-child(2):hover {
  filter: brightness(120%);
  transition: filter 0.3s ease;
}
.industry__card:nth-child(2):hover .card__content {
  background:rgba($color-black, 0.5);
  border: 1px solid $color-white;
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.industry__card:nth-child(3):hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.industry__card:nth-child(4):hover {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.industry__card:nth-child(5):hover {
  transform: scale(1.1);
  border: 2px solid #ffcc00;
  transition: transform 0.3s ease, border 0.3s ease;
}

.industry__card:nth-child(6):hover {
  transform: rotate(-5deg);
  transition: transform 0.3s ease;
}
