.webinars{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;

    &__title {
  
      color: $color-black;
  
      span{
        color: $color-primary;
        font-size: 2rem;

        @include respond(phone) {
          font-size: 1.6rem;
        
      
        }
      }
  
      h2{
        font-size: 3rem;
        font-weight: 600;
        margin: 0;

        @include respond(phone) {
          font-size: 2rem;
        
      
        }
      }
      margin-left: 5rem;
      text-align:center;
      text-transform: uppercase;
      padding-left: 1rem;

      @include respond(phone) {
        padding-left: 0rem;
        margin-left: 0rem;
  
    
      }
    }

    &__container{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
}
  
.webinars__card {
    position: relative;
    width: 35rem;
    height: 17.5rem;
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
   
    // &:hover {
    //   .card__background img {
    //     transform: matrix(1.1, 0, 0, 1.1, 0, 0);
      
    //   }
  
    // }
  
    .card__background {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(65%); 
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
      }
  
     
    }
  
    .card__content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
      color: #fff;
      z-index: 1; 
  
      h3 {
        font-size: 1.6rem;
      }
  
      p {
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
  }
  


