/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-color: #ffffff;
}

body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

/* App.scss */
.background-video {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
.background-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.background-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  padding: 1rem;
  min-height: 7.5rem;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
}
@media only screen and (max-width: 56.25em) {
  .header__navigation {
    display: none;
  }
}
.header__logoBox img {
  width: 25rem;
}
@media only screen and (max-width: 75em) {
  .header__logoBox img {
    width: 20rem;
    padding: 1rem;
  }
}
.header__brandMessage {
  padding-top: 7.5rem;
  text-align: center;
  background: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  color: #ffffff;
}
.header__brandMessage h2 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}
.header__searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  color: #1b1b1b;
  font-size: 1.2rem;
  width: 15%;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .header__searchBox {
    width: 10%;
  }
}
.header__searchBox svg {
  background: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  border-radius: 50%;
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1.6rem;
  transition: transform 0.3s ease;
}
.header__searchBox svg:hover {
  animation: pulse 1s infinite;
}
.header__mobile {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  min-height: 7.5rem;
  height: 7.5rem;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
}
@media only screen and (max-width: 56.25em) {
  .header__mobile {
    display: flex;
    padding: 2rem;
  }
}
.header__mobile__searchBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 5rem;
  width: 25rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
}
.header__mobile__searchBox input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.header__mobile__searchBox svg {
  width: 2rem;
  height: 2rem;
  color: #cc3333;
}
.header__mobile .menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(27, 27, 27, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 9999;
}
.header__mobile .menu-container.open {
  transform: translateX(0);
}
.header__mobile .menu-container .menu {
  padding: 20px;
  height: 100%;
  width: 30rem;
  background: #ffffff;
}
.header__mobile .menu-container .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}
.header__mobile .menu-container .menu ul li {
  color: #1b1b1b;
  margin-bottom: 1rem;
  padding-block: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.header__mobile .menu-container .menu ul li:hover {
  cursor: pointer;
}
.header__mobile .menu-container .menu ul li.dropdown {
  position: relative;
}
.header__mobile .menu-container .menu ul li.dropdown .dropdown-menu {
  top: 2rem;
  width: 30rem;
  background-color: #ffffff;
  display: none;
}
.header__mobile .menu-container .menu ul li.dropdown .dropdown-menu li {
  color: #1b1b1b;
  padding: 10px;
}
.header__mobile .menu-container .menu ul li.dropdown .dropdown-menu li:hover {
  background-color: #FFEED9;
  cursor: pointer;
}
.header__mobile .menu-container .menu ul li.dropdown:hover .dropdown-menu {
  display: block;
}
.header__mobile__logoBox img {
  width: 25rem;
}
.header__mobile__menu {
  max-height: 7.5rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
}
@media only screen and (max-width: 75em) {
  .header__nav {
    font-size: 1.3rem;
  }
}
.header__nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0;
}
@media only screen and (max-width: 75em) {
  .header__nav__list {
    gap: 0.5rem;
    padding: 0;
  }
}
.header__nav__item {
  list-style: none;
  border-left: 2px solid #cc3333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  margin: 0;
}
.header__nav__item:hover {
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .header__nav__item {
    gap: 0.5rem;
    padding-inline: 0.3rem;
  }
}
.header__nav__text {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #1b1b1b;
}
.header__nav__text:hover {
  color: #cc3333;
}
.header__nav__dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  top: 100%;
  left: 0;
  padding-top: 2rem;
  display: none;
  background: #ffffff;
  z-index: 500;
  min-width: 25rem;
}
.header__nav__dropdown__item {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  padding: 1rem;
  border-style: none;
  list-style: none;
}
.header__nav__dropdown__item a {
  display: block;
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.header__nav__dropdown__item a:hover {
  padding-left: 10px;
  border-left: 2px solid #cc3333;
  transition: all 0.3s ease;
}
.header__nav__item:hover > .header__nav__dropdown, .header__nav__dropdown:hover {
  visibility: visible;
  opacity: 1;
  padding-top: 2rem;
  display: block;
  text-align: left;
  box-shadow: 0px 3px 5px -1px rgba(122, 122, 122, 0.3);
  z-index: 500;
}

.banners {
  position: relative;
}
.banners__container {
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  transform: translateY(-42.5%);
  z-index: 400;
}
@media only screen and (max-width: 56.25em) {
  .banners__container {
    position: relative;
    transform: translateY(0);
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin-top: 2rem;
  }
}
.banners__card {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 20%;
  min-width: 32rem;
  min-height: 22rem;
  z-index: 500;
  box-shadow: 0px 2px 22px 8px rgba(0, 0, 0, 0.39);
}
@media only screen and (max-width: 75em) {
  .banners__card {
    width: 30%;
    min-width: 25rem;
    overflow: hidden;
  }
}
@media only screen and (max-width: 56.25em) {
  .banners__card {
    width: 90%;
    min-width: 0;
    flex-direction: row;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 37.5em) {
  .banners__card {
    flex-direction: column;
    width: 60%;
    gap: 3rem;
  }
}
.banners__card__header {
  background: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .banners__card__header {
    width: 35%;
    min-width: 14rem;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .banners__card__header {
    width: 100%;
    gap: 1rem;
  }
}
.banners__card__header h3 {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.banners__card__header svg {
  font-size: 4rem;
  color: #ffffff;
}
@media only screen and (max-width: 56.25em) {
  .banners__card__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.banners__card__content p {
  text-align: center;
  font-size: 1.5rem;
  color: #5f5f5f;
  padding: 1rem;
}

.webinars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.webinars__title {
  color: #1b1b1b;
  margin-left: 5rem;
  text-align: center;
  text-transform: uppercase;
  padding-left: 1rem;
}
.webinars__title span {
  color: #cc3333;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .webinars__title span {
    font-size: 1.6rem;
  }
}
.webinars__title h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
@media only screen and (max-width: 37.5em) {
  .webinars__title h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .webinars__title {
    padding-left: 0rem;
    margin-left: 0rem;
  }
}
.webinars__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.webinars__card {
  position: relative;
  width: 35rem;
  height: 17.5rem;
  margin: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.webinars__card .card__background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.webinars__card .card__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.webinars__card .card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: #fff;
  z-index: 1;
}
.webinars__card .card__content h3 {
  font-size: 1.6rem;
}
.webinars__card .card__content p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.industry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  margin-top: 20rem;
}
.industry__title {
  color: #1b1b1b;
  margin-left: 5rem;
  text-align: center;
  text-transform: uppercase;
  padding-left: 1rem;
}
.industry__title span {
  color: #cc3333;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .industry__title span {
    font-size: 1.6rem;
  }
}
.industry__title h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
@media only screen and (max-width: 37.5em) {
  .industry__title h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .industry__title {
    padding-left: 0rem;
    margin-left: 0rem;
  }
}
.industry__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.industry__card__number1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1rem;
  min-width: 23rem;
  max-width: 32rem;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 1.6rem;
  background-color: #1b1b1b;
}
.industry__card__number1 *, .industry__card__number1::before, .industry__card__number1::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.industry__card__number1::before, .industry__card__number1::after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}
.industry__card__number1:before {
  width: 0;
  height: 1px;
}
.industry__card__number1:after {
  height: 0;
  width: 1px;
}
.industry__card__number1 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.industry__card__number1__content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}
.industry__card__number1__content h3,
.industry__card__number1__content p {
  font-size: 1.7rem;
  font-weight: normal;
  opacity: 0;
}
.industry__card__number1:hover::before, .industry__card__number1:hover::after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.industry__card__number1:hover::before {
  width: 5rem;
}
.industry__card__number1:hover::after {
  height: 5rem;
}
.industry__card__number1:hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}
.industry__card__number1:hover h3,
.industry__card__number1:hover p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}
.industry__card__number1 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.industry__card__number2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1rem;
  min-width: 23rem;
  max-width: 32rem;
}
.industry__card__number2 a {
  color: inherit;
  text-decoration: none;
}
.industry__card__number2:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.industry__card__number2__thumb {
  height: fit-content;
  overflow: hidden;
  background-color: #1b1b1b;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.industry__card__number2__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.industry__card__number2:hover .industry__card__number2__thumb {
  height: 13rem;
}
.industry__card__number2:hover .industry__card__number2__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.industry__card__number2:hover .industry__card__number2__body {
  height: 19rem;
}
.industry__card__number2__body {
  position: relative;
  height: 12rem;
  padding: 2rem;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.industry__card__number2__body__date {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #7a7a7a;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}
.industry__card__number2__body__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.industry__card__number2__body__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #cc3333;
}
.industry__card__number2__body__description {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 6rem;
  margin: 0;
  padding: 0;
  color: #5f5f5f;
  opacity: 0;
  -webkit-transform: translateY(4.5rem);
  transform: translateY(4.5rem);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 1.1rem;
}
.industry__card__number2:hover .industry__card__number2__body__description {
  opacity: 1;
  line-height: 1.5;
}
.industry__card__number3 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 23rem;
  max-width: 32rem;
  perspective: 1000px;
}
.industry__card__number3__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.industry__card__number3__image img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.industry__card__number3:hover .industry__card__number3__image img {
  transform: scale(1.1);
}
.industry__card__number3__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.8);
  transition: transform 0.5s ease;
  transform-origin: left;
  transform: rotateY(90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  opacity: 0;
}
.industry__card__number3__details h3 {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.industry__card__number3__details p {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.industry__card__number3:hover .industry__card__number3__details {
  transform: rotateY(0deg);
  opacity: 1;
}
.industry__card__number4 {
  background-color: #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  max-width: 31.5rem;
  min-width: 23rem;
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 100%;
}
.industry__card__number4 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.industry__card__number4:before, .industry__card__number4:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.industry__card__number4:before {
  -webkit-transform: skew(30deg) translateX(80%);
  transform: skew(30deg) translateX(80%);
}
.industry__card__number4:after {
  -webkit-transform: skew(-30deg) translateX(70%);
  transform: skew(-30deg) translateX(70%);
}
.industry__card__number4__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 20px 20px 20px 40%;
}
.industry__card__number4__content:before, .industry__card__number4__content:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}
.industry__card__number4__content::before {
  -webkit-transform: skew(30deg) translateX(100%);
  transform: skew(30deg) translateX(100%);
}
.industry__card__number4__content:after {
  -webkit-transform: skew(-30deg) translateX(90%);
  transform: skew(-30deg) translateX(90%);
}
.industry__card__number4__content h3,
.industry__card__number4__content p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.industry__card__number4__content h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.industry__card__number4__content p {
  font-size: 0.9em;
}
.industry__card__number4__content a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.industry__card__number4:hover .industry__card__number4__content h3, .industry__card__number4:hover .industry__card__number4__content p {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.industry__card__number4:hover:before {
  -webkit-transform: skew(30deg) translateX(30%);
  transform: skew(30deg) translateX(30%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.industry__card__number4:hover:after {
  -webkit-transform: skew(-30deg) translateX(20%);
  transform: skew(-30deg) translateX(20%);
}
.industry__card__number5 {
  background-color: #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  max-width: 31.5rem;
  min-width: 23rem;
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 100%;
}
.industry__card__number5:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.industry__card__number5 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.industry__card__number5 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.industry__card__number5__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(122, 122, 122, 0.3);
}
.industry__card__number5__content h3,
.industry__card__number5__content p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.industry__card__number5__content h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.industry__card__number5__content p {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.industry__card__number5 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.industry__card__number5:hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.industry__card__number5:hover h3, .industry__card__number5:hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.3s;
}
.industry__card__number6 {
  background-color: #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  max-width: 31.5rem;
  min-width: 23rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}
.industry__card__number6 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.industry__card__number6__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(204, 51, 51, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.industry__card__number6:hover .industry__card__number6__content {
  transform: translateY(0);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: grid;
  place-items: center;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-width: 30rem;
  min-height: 9.8rem;
  max-height: 9.8rem;
}

.colabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding-block: 5rem;
  margin-block: 2rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.1);
  border-bottom: 3px solid #cc3333;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #e98686;
}
.form__input::-webkit-input-placeholder {
  color: #5f5f5f;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.section-book {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 0;
  margin-top: 5rem;
  background-image: linear-gradient(to right bottom, #cc3333, #e98686);
}
@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(./assets/industrie5.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(27, 27, 27, 0.2);
  width: 80%;
  max-width: 120rem;
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(./assets/industrie5.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(./assets/industrie5.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.testimonials {
  display: grid;
  place-items: center;
  width: 100%;
}
.testimonials__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
.testimonials__subheading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #cc3333;
  margin: 0;
}
.testimonials__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 5rem;
}
.testimonials__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
  width: 100%;
  max-width: 110rem;
}
.testimonials__content__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 60rem;
  text-align: left;
}
.testimonials__content__text p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
}
.testimonials__content__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 32rem;
  min-width: 28rem;
  gap: 2rem;
  padding: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.testimonials__content__item__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.testimonials__content__item__profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.testimonials__content__item__profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials__content__item__profile__info h3 {
  font-size: 2rem;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.testimonials__content__item__profile__info p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
}
.testimonials__content__starsBox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.testimonials__content__starsBox svg {
  width: 2rem;
  height: 2rem;
  color: #f2c94c;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__container {
  min-height: 40rem;
  background-color: #1b1b1b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 8rem;
}
@media only screen and (max-width: 75em) {
  .footer__container {
    padding: 0;
  }
}
.footer__container__actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 75em) {
  .footer__container__actions {
    flex-direction: row;
    gap: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__container__actions {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
  }
  .footer__container__actions div {
    min-width: 40%;
  }
}
.footer__container__actions__subscribe {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__container__actions__subscribe__title {
  font-size: 2rem;
  color: #cc3333;
  margin-bottom: 1rem;
}
.footer__container__actions__subscribe__input {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 25rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
}
.footer__container__actions__subscribe__input input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.footer__container__actions__subscribe__input svg {
  width: 2rem;
  height: 2rem;
  color: #cc3333;
}
.footer__container__actions__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container__actions__links h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__container__actions__links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  gap: 0.5rem;
}
.footer__container__actions__links ul li {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__container__actions__links ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
}
.footer__container__actions__links ul li a:hover {
  color: #cc3333;
}
.footer__container__actions__timming h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 2rem;
}
.footer__container__actions__timming p {
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
}
.footer__container__actions__timming p:hover {
  color: #cc3333;
}
.footer__container__actions__socialMedia {
  display: flex;
  flex-direction: column;
}
.footer__container__actions__socialMedia__icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer__container__actions__socialMedia__icons svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}
.footer__container__actions__socialMedia__icons svg:hover {
  color: #cc3333;
}
.footer__container__actions__socialMedia__address {
  display: flex;
  flex-direction: column;
}
.footer__container__actions__socialMedia__address p {
  font-size: 1.6rem;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  margin-bottom: 1rem;
}
.footer__container__bottom {
  margin-top: 2rem;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .footer__container__bottom {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__container__bottom {
    padding: 2rem;
  }
}
.footer__container__bottom__content {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__container__bottom__content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
.footer__container__bottom__content p {
  font-size: 1.6rem;
  color: #5f5f5f;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  border-left: 1px solid rgba(122, 122, 122, 0.3);
  padding-left: 1rem;
}
.footer__container__bottom__content p:hover {
  color: #cc3333;
}
@media only screen and (max-width: 56.25em) {
  .footer__container__bottom__content p {
    border: none;
    padding: 0;
  }
}

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(27, 27, 27, 0.2);
}
.button__main {
  background: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  width: 15rem;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 2rem;
}
.button__main::after {
  background-color: #cc3333;
}
.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(27, 27, 27, 0.2);
}

.buttonSticky__call {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 129999;
  padding: 1rem 1.5rem;
  background: linear-gradient(150deg, #41e7a8 0%, #5fb976 54%);
  box-shadow: 0 0.5rem 1rem rgba(27, 27, 27, 0.2);
  font-size: 3.5rem;
  color: #ffffff;
  border-radius: 50%;
}

.aboutUs {
  position: relative;
  height: 60rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.aboutUs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem;
}
.aboutUs__container__btn {
  margin-top: 5rem;
}
.aboutUs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding: 5rem;
  gap: 2rem;
  width: 90%;
  height: 100%;
  border: 1px solid #7a7a7a;
}
@media only screen and (max-width: 56.25em) {
  .aboutUs__content {
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .aboutUs__content {
    width: 100%;
    padding: 1rem;
  }
}
.aboutUs__logo {
  width: 40rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .aboutUs__logo {
    width: 20rem;
  }
}

.description__aboutUs {
  width: 100%;
  max-width: 60rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .description__aboutUs {
    font-size: 1.2rem;
  }
}

.heading__aboutUs {
  font-size: 2.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
@media only screen and (max-width: 37.5em) {
  .heading__aboutUs {
    font-size: 1.6rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: 33.33334%;
  text-align: center;
  box-sizing: border-box;
  counter-increment: item;
  z-index: 99999;
}

@media only screen and (max-width: 768px) {
  .list {
    display: block;
  }
  .item {
    width: auto;
  }
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 2.5rem;
  height: 2.2rem;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(150deg, #e98686 0%, #cc3333 54%);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

#menu07 span:nth-of-type(1) {
  animation: menu07-bar01 0.75s forwards;
}

@keyframes menu07-bar01 {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu07 span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}

#menu07 span:nth-of-type(3) {
  animation: menu07-bar03 0.75s forwards;
}

@keyframes menu07-bar03 {
  0% {
    transform: translateY(-10px) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu07.active span:nth-of-type(1) {
  animation: active-menu07-bar01 0.75s forwards;
}

@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
#menu07.active span:nth-of-type(2) {
  opacity: 0;
}

#menu07.active span:nth-of-type(3) {
  animation: active-menu07-bar03 0.75s forwards;
}

@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/*# sourceMappingURL=App.css.map */
